/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
header {
    background-image: url('../img/formula1-track.png');
}

main#two-columns {
    margin-bottom: 50px;
    display: flex;
    overflow: hidden;
}

main#two-columns section {
    max-width: 50vw;
}

section#accelerate button {
    height: 150px;
    width: 150px;
    margin: 30px auto;
    border-radius: 180%;
    background-color: #e10600;
    border-color: #e10600;
    cursor: pointer;
    color: white;
}

#big-numbers {
    font-weight: bolder;
    font-size: 70px;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
